# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution and packaging
*.egg-info/
*.egg

# Environment files
.env
.venv
venv/

# Unit test / coverage reports
.coverage

# Project-specific folders
/logs
/data
/config
/src/cogs/test
/temp
